<h1>Welcome to the Events App</h1>
<p>This is the home page.  Future Functionality:</p>
<ul>
	<li><%= link_to 'Events', controller: 'events' %></li>
	<li><%= link_to 'Create New Event', new_event_path %></li>
	<li>Category View</li>
</ul>
