<h1>Welcome to the Alerts App</h1>
<p>This is the home page.  Future Functionality:</p>
<ul>
	<li><%= link_to 'Alerts', controller: 'alerts' %></li>
	<li><%= link_to 'Create New Alert', new_alert_path %></li>
	<li>Category View</li>
</ul>
