<h1>Event Page</h1>
<p>This page shows the event just created</p>

<p>
	<strong>Title:</strong>
	<%= @event.title %>
</p>

<p>
	<strong>Info:</strong>
	<%= @event.info %>
</p>

<%= link_to 'Back', events_path %>